/**
 * STYLE CSS File.
 *
 * @package pstds
 *
 */
.pstds_storewide_sale.pstds-top {
	bottom: unset;
	top: 0;
}
.pstds_storewide_sale {
position: fixed;
top: 0;
left: 0;
right: 0;
margin: 0 auto;
text-align: center;
overflow: hidden;
color: #000000 !important;
font-size: medium;
font-weight: 25px;
padding: 10px;
z-index: 99999;
}

@media only screen and (max-width: 550px) {
#header {
margin-top: 70px;
}
}
